<ul>
	<h4>Reviews</h4>
	<li ng-repeat="review in product.reviews">
		<blockquote>
			<b>Stars: {{review.stars}}</b> {{review.body}} <cite>by:
				{{review.author}}, created on: {{review.createdOn | date}}</cite>
		</blockquote>
	</li>
</ul>

<form name="reviewForm"
	ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	<blockquote>
		<b>Stars: {{reviewCtrl.review.stars}}</b>
		{{reviewCtrl.review.body}} <cite class="clearfix">-by:
			{{reviewCtrl.review.author}}</cite>
	</blockquote>

	<fieldset>
		<select ng-model="reviewCtrl.review.stars" required>
			<option value="1">1 star</option>
			<option value="2">2 stars</option>
			<option value="3">3 stars</option>
			<option value="4">4 stars</option>
			<option value="5">5 stars</option>
		</select>
	</fieldset>
	<fieldset>
		<textarea ng-model="reviewCtrl.review.body" required>a</textarea>
	</fieldset>
	<fieldset>
		<label>by:</label> <input ng-model="reviewCtrl.review.author"
			type="email" required />
	</fieldset>
	<div>reviewForm is {{reviewForm.$valid}}</div>

	<input type="submit" value="Submit" />
</form>